[data-reactaform-theme="antd-dark"] {
  --reactaform-primary-bg: #141414;
  --reactaform-secondary-bg: #1f1f1f;
  --reactaform-input-bg: #1f1f1f;

  --reactaform-text-color: #e8e8e8;
  --reactaform-text-muted: #9ca3af;

  --reactaform-border-color: #303030;
  --reactaform-border-hover: #434343;
  --reactaform-border-focus: #1677ff;

  --reactaform-option-menu-hover-bg: #1a1a1a;

  --reactaform-error-color: #ff4d4f;
  --reactaform-success-color: #52c41a;

  --reactaform-border-radius: 6px;

  --reactaform-shadow:
    0 6px 20px #000000;

  --reactaform-button-bg: #1677ff;
  --reactaform-button-text: white;

  --reactaform-input-padding: 10px 12px;

  /* Tooltip */
  --reactaform-tooltip-color-bg: #282828;
  --reactaform-tooltip-color: #F5F5F5;
}
