[data-reactaform-theme="glass"] {
  --reactaform-primary-bg: #ffffff40;
  --reactaform-secondary-bg: #ffffff59;
  --reactaform-input-bg: #ffffff59;

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  --reactaform-text-color: #111827;
  --reactaform-text-muted: #4b5563;

  --reactaform-border-color: #ffffff66;
  --reactaform-border-hover: #ffffffb3;
  --reactaform-border-focus: #38bdf8;

  --reactaform-error-color: #e11d48;
  --reactaform-success-color: #059669;

  --reactaform-border-radius: 12px;
  --reactaform-shadow: 0 12px 40px #000000;

  /* Tooltip */
  --reactaform-tooltip-color-bg: #3c3c3c;
  --reactaform-tooltip-color: #ffffff;
}
