[data-reactaform-theme="ios"] {
  --reactaform-primary-bg: #f2f2f7;
  --reactaform-secondary-bg: #ffffff;
  --reactaform-input-bg: #ffffff;

  --reactaform-text-color: #000000;
  --reactaform-text-muted: #8e8e93;

  --reactaform-border-color: #d1d1d6;
  --reactaform-border-hover: #b3b3b9;
  --reactaform-border-focus: #0a84ff;

  --reactaform-error-color: #ff3b30;
  --reactaform-success-color: #34c759;

  --reactaform-option-menu-hover-bg: #000000;

  --reactaform-border-radius: 14px;

  --reactaform-shadow:
    0 10px 30px #000000;

  --reactaform-button-bg: #0a84ff;
  --reactaform-button-text: white;
  --reactaform-button-border-radius: 14px;

  --reactaform-input-padding: 14px 16px;

  /* Tooltip */
  --reactaform-tooltip-color-bg: #3c3c3c;
  --reactaform-tooltip-color: #ffffff;
}
