[data-reactaform-theme="macos"] {
  --reactaform-primary-bg: #f5f5f7;
  --reactaform-secondary-bg: #ffffff;
  --reactaform-input-bg: #ffffff;

  --reactaform-text-color: #111111;
  --reactaform-text-muted: #6e6e73;

  --reactaform-border-color: #d2d2d7;
  --reactaform-border-hover: #9e9ea2;
  --reactaform-border-focus: #0a84ff;

  --reactaform-success-color: #34c759;
  --reactaform-error-color: #ff3b30;

  --reactaform-option-menu-hover-bg: #000000;

  --reactaform-border-radius: 999px;

  --reactaform-shadow:
    0 8px 30px #000000;

  --reactaform-button-bg: #0a84ff;
  --reactaform-button-text: white;
  --reactaform-button-border-radius: 999px;

  --reactaform-input-padding: 10px 14px;

  /* Tooltip */
  --reactaform-tooltip-color-bg: #3c3c3c;
  --reactaform-tooltip-color: #ffffff;
}
