[data-reactaform-theme="material-dark"] {
  --reactaform-primary-bg: #121212;
  --reactaform-secondary-bg: #1D1B20;
  --reactaform-input-bg: #2B2830;

  --reactaform-text-color: #EDE7F6;
  --reactaform-text-muted: #BDB5D7;

  --reactaform-border-color: #3A3346;
  --reactaform-border-hover: #524364;
  --reactaform-border-focus: #D0BCFF;

  --reactaform-option-menu-hover-bg: #ffffff;

  --reactaform-error-color: #F2B8B5;
  --reactaform-success-color: #81C995;

  --reactaform-border-radius: 12px;
  --reactaform-shadow: 0 8px 30px #000000;

  --reactaform-button-bg: #D0BCFF;
  --reactaform-button-text: #381E72;

  /* Tooltip */
  --reactaform-tooltip-color-bg: #282828;
  --reactaform-tooltip-color: #F5F5F5;
}
