[data-reactaform-theme="pastel"] {
  --reactaform-primary-bg: #fafafa;
  --reactaform-secondary-bg: #ffffff;
  --reactaform-input-bg: #ffffff;

  --reactaform-text-color: #374151;
  --reactaform-text-muted: #6b7280;

  --reactaform-border-color: #e5e7eb;
  --reactaform-border-hover: #cbd5e1;
  --reactaform-border-focus: #a78bfa;

  --reactaform-error-color: #fb7185;
  --reactaform-success-color: #4ade80;

  --reactaform-hover-bg: #f4f4ff;

  --reactaform-border-radius: 10px;
  --reactaform-shadow: 0 10px 28px rgba(99,102,241,0.08);

  /* Tooltip */
  --reactaform-tooltip-color-bg: rgba(60,60,60,0.92);
  --reactaform-tooltip-color: #ffffff;
}
